* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    min-height: 5.66rem;
    width: auto;
}

nav .brand img {
    width: 44px;
}

.navbar-flex {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
}

.navbar-flex ul li a {
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #9B9B9B;
    transition: .4s;
    margin: 0 1.85rem 0 0;
}

.navbar-flex a:hover {
    color: #232730;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #0f0f0f;
    margin: 5px;
    transition: all .4s ease;
}


/* @keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
} */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* main css */

.container1 {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

.info-niraj {
    grid-column: 2/3;
}

.info-niraj h1 {
    font-weight: 600;
    font-size: 5rem;
}

.info-niraj h4 {
    font-weight: 400;
    font-size: 1.66rem;
    color: #AEAEAE;
    margin-top: 0.88rem;
    margin-bottom: 1rem;
}

.info-niraj h5 {
    font-weight: 600;
    font-size: 1.66rem;
    margin: 0.77rem 0 0.35rem 0;
}

.info-niraj p {
    color: #AEAEAE;
    font-size: 1.22rem;
    font-weight: 400;
}

.img-display {
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 4rem;
}

.case-img-highlight img {
    width: 95%;
    padding: 0.35rem;
}

.container-paragraph {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: auto;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.paragraph {
    grid-column: 2/3;
}

.paragraph p {
    box-sizing: border-box;
    font-size: 1.44rem;
    width: 35rem;
    margin-top: 2.2rem;
    line-height: 2.35rem;
    color: #111111;
    font-weight: 500;
}

.paragraph a {
    color: #111111;
}

.container-paragraph-info2 {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: auto;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.paragraph-info2 {
    grid-column: 2/3;
}

.paragraph-info2 p {
    box-sizing: border-box;
    font-size: 1.44rem;
    width: 35rem;
    margin-top: 2.2rem;
    line-height: 2.35rem;
    color: #111111;
    font-weight: 500;
}

.container-paragraph-info3 {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: auto;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

.paragraph-info3 {
    grid-column: 2/3;
}

.paragraph-info3 p {
    box-sizing: border-box;
    font-size: 1.44rem;
    width: 35rem;
    margin-top: 2.2rem;
    line-height: 2.35rem;
    color: #111111;
    font-weight: 500;
}

.img-display5 {
    display: grid;
    grid-template-columns: 1rem 1fr 1fr 1rem;
    grid-template-rows: 1rem 1fr 1fr 1rem;
    column-gap: 0.85rem;
    width: auto;
    height: auto;
    margin-top: 2.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
}

.img-highlight3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.img-highlight4 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.img-highlight5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.img-highlight6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.img-highlight3 img,
.img-highlight4 img,
.img-highlight5 img,
.img-highlight6 img {
    width: 95%;
    padding: 0.35rem;
}

.list-number {
    width: auto;
    height: 10rem;
    padding: 1.3rem;
    text-align: center;
}

.list-number a {
    font-size: 2.5rem;
    font-weight: 600;
    color: #9B9B9B;
    padding: 1.5rem;
    transition: .3s ease-in-out;
    margin: 0.55rem;
}

.list-number a:hover {
    color: #040505;
}

footer {
    width: auto;
    height: 2.4rem;
    margin: auto;
}

footer p {
    color: #aaaaaa;
    max-width: 76rem;
    margin: auto;
    padding: 0 0 0 2rem;
}


/* responsive mobile mode */

@media (max-width: 576px) {
    .navbar {
        background: #fcfcfc;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
        position: sticky;
        top: 0;
        z-index: 999;
        min-height: 4.5rem;
    }
    nav .brand img {
        width: 40px;
    }
    .navbar-flex ul {
        position: fixed;
        top: 4.2rem;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 9999;
        padding: 1rem 0;
        display: none;
        margin: 0;
    }
    .navbar-flex ul.nav-active {
        height: 100%;
        opacity: 1;
        background-color: #fcfcfc;
        display: block;
    }
    .navbar-flex ul li a {
        padding: 1.4rem 1rem;
        margin-top: 0.68rem;
        display: block;
        text-decoration: none;
        color: #9B9B9B;
        font-size: 1.5rem;
    }
    .burger {
        display: block;
    }
    .info-niraj h1 {
        font-size: 3rem;
    }
    .info-niraj h4 {
        font-size: 1.18rem;
    }
    .info-niraj h5 {
        font-size: 1.20rem;
    }
    .info-niraj p {
        font-size: 1.05rem;
        line-height: 1.55rem;
    }
    .paragraph p {
        font-size: 1.12rem;
        width: auto;
        line-height: 1.95rem;
    }
    .paragraph-info2 p {
        font-size: 1.12rem;
        width: auto;
        line-height: 1.95rem;
    }
    .paragraph-info3 p {
        font-size: 1.12rem;
        width: auto;
        line-height: 1.95rem;
    }
    .case-img-highlight img {
        width: 92%;
    }
    .container-paragraph,
    .container-paragraph-info2,
    .container-paragraph-info3 {
        margin-top: 0.20rem;
        margin-bottom: 0.20rem;
    }
    .img-display5 {
        column-gap: normal;
    }
    .img-highlight3 img,
    .img-highlight4 img,
    .img-highlight5 img,
    .img-highlight6 img {
        width: 100%;
    }
    .list-number {
        padding: 0.25rem;
        height: 8rem;
    }
    .list-number a {
        font-size: 1.89rem;
    }
    footer p {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-bottom: 1.4rem;
        text-align: center;
        line-height: 1.76rem;
    }
}


/* responsive landscape mode */

@media (min-width: 577px) and (max-width: 767.98px) {
    nav .brand img {
        width: 40px;
    }
    .navbar-flex ul li a {
        font-size: 0.9rem;
    }
    .info-niraj h1 {
        font-size: 3.77rem;
    }
    .info-niraj h4 {
        font-size: 1.22rem;
    }
    .info-niraj h5 {
        font-size: 1.25rem;
    }
    .paragraph p {
        font-size: 1.20rem;
        width: 30rem;
    }
    .paragraph-info2 p {
        font-size: 1.20rem;
        width: 30rem;
    }
    .paragraph-info3 p {
        font-size: 1.20rem;
        width: 26rem;
    }
    .next-project {
        padding: 0.66rem;
    }
    .list-number {
        padding: 0.66rem;
    }
    .list-number a {
        font-size: 1.5rem;
    }
}


/* responsive tablet mode */

@media (min-width: 768px) and (max-width: 991.91px) {
    .info-niraj h1 {
        font-size: 4.44rem;
    }
    .info-niraj h4 {
        font-size: 1.55rem;
    }
    .info-niraj h5 {
        font-size: 1.50rem;
    }
    .paragraph p {
        font-size: 1.35rem;
    }
    .paragraph-info2 p {
        font-size: 1.35rem;
    }
    .paragraph-info3 p {
        font-size: 1.35rem;
        width: 28rem;
    }
    .container-paragraph,
    .container-paragraph-info2,
    .container-paragraph-info3 {
        margin-top: 0.50rem;
        margin-bottom: 0.70rem;
    }
}


/* desktop mode */

@media (min-width: 992px) {
    .navbar {
        grid-template-columns: 1fr 85% 1fr;
    }
    .container1 {
        grid-template-columns: 1fr 85% 1fr;
    }
    .case-img-highlight {
        padding: 1rem;
    }
    .container-paragraph {
        grid-template-columns: 1fr 85% 1fr;
    }
    .paragraph a {
        transition: .3s ease-in-out;
    }
    .paragraph a:hover {
        text-decoration: none;
        color: #FF6B81;
    }
    .container-paragraph-info2 {
        grid-template-columns: 1fr 85% 1fr;
    }
    .container-paragraph-info3 {
        grid-template-columns: 1fr 85% 1fr;
    }
    .img-highlight3 img,
    .img-highlight4 img,
    .img-highlight5 img,
    .img-highlight6 img {
        padding: 1rem;
    }
}