* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../../img/art.png");
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: 100% 3%;
}

.navbar {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    min-height: 5.66rem;
    width: auto;
}

nav .brand img {
    width: 44px;
}

.navbar-flex {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
}

.navbar-flex ul li a {
    display: flex;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #9B9B9B;
    transition: .4s;
    margin: 0 1.85rem 0 0;
}

.navbar-flex a:hover {
    color: #232730;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #0f0f0f;
    margin: 5px;
    transition: all .4s ease;
}


/* @keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
} */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* main content  */

.main {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: auto;
}

.intro {
    grid-column: 2/3;
    padding-bottom: 1rem;
    margin: auto;
    margin-top: 1.68rem;
    width: 100%;
}


/* Animation Slide */

.poppp {
    opacity: 0;
    transition: .7s;
    transform: translate(0px, 90px);
}

.poppp.firstpop {
    transform: translate(0px, 0px);
    opacity: 1;
}

.poppp2 {
    opacity: 0;
    transform: translate(0px, 90px);
    transition: .9s;
}

.poppp2.secondpop {
    opacity: 1;
    transform: translate(0px, 0px);
}

.lastpop {
    opacity: 0;
    transform: translate(0px, 90px);
    transition: 1.33s;
}

.lastpop.popup {
    opacity: 1;
    transform: translate(0px, 0px);
}


/* end of animation section */

.intro span {
    background: -webkit-linear-gradient(to right, #130F40 15%, #FF7979 52%, #0652DD 86%);
    background: -moz-linear-gradient(to right, #130F40 15%, #FF7979 52%, #0652DD 86%);
    background: linear-gradient(to right, #130F40 15%, #FF7979 52%, #0652DD 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro h2 {
    font-weight: 700;
    line-height: 7rem;
    margin-bottom: 0.55rem;
    color: #0B0C1E;
}

.intro p {
    line-height: 1.66em;
    font-weight: 400;
    color: #7c7c7c;
    margin-bottom: 0.89em;
    margin-top: 1em;
}

.intro a {
    display: inline-block;
    color: #7c7c7c;
    transition: .3s;
    border-radius: 3px;
    font-weight: 400;
    transition: .2s;
    font-size: 1.32rem;
}

.intro a::after {
    display: block;
    content: '';
    border-bottom: 2px solid #0B0C1E;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.intro a:hover {
    color: #0B0C1E;
}

.intro a:hover::after {
    transform: scaleX(1);
}

.container-2 {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    height: auto;
    align-content: flex-start;
    width: auto;
    margin-top: 5rem;
    padding-bottom: 3rem;
}

.flexing-con2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 2/3;
}

.project-featured {
    padding-top: 2.3rem;
}

.project-featured h4 {
    color: #BEBEBE;
    font-weight: 300;
    font-size: 1.3rem;
    margin-top: 0.7rem;
}

.project-featured h2 {
    font-size: 2.3rem;
    font-weight: 500;
    color: #0B0C1E;
}

.project-featured p {
    font-weight: 400;
    font-size: 1.12rem;
    color: #AEAEAE;
    box-sizing: border-box;
    line-height: 1.55rem;
}

.creative_work h2 {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: #0B0C1E;
    margin-bottom: -4rem;
    margin-top: 2rem;
}

.container-3 {
    display: grid;
    grid-template-columns: 0.50rem 1fr 0.50rem;
    width: auto;
    margin: 6rem auto;
}

.work {
    grid-column: 2/3;
}

.work img {
    width: 100%;
}

.contain6-sectionlast {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    width: auto;
    height: 28rem;
    margin-top: 15rem;
}

.contact-section {
    grid-column: 2/3;
    max-width: 72rem;
    height: 21rem;
}

.contact-section h3 {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #040505;
}

.mailmenow-ou a {
    font-weight: 500;
    font-size: 2.3rem;
    color: #999999;
}

.contact-section p {
    color: #9B9B9B;
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 80%;
}

.contact-section i {
    font-size: 1.62rem;
    background-color: #040505;
    border-radius: 4px;
    padding: 0.6rem;
    margin-top: 2rem;
    float: right;
}

footer {
    width: auto;
    height: 2.4rem;
    margin: auto;
}

footer p {
    color: #aaaaaa;
    max-width: 72rem;
    margin: auto;
}


/* responsive mobile mode */

@media (max-width: 576px) {
    body {
        background-size: 90%;
        background-position: 140% 10.8%;
    }
    .navbar {
        background: #fcfcfc;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
        position: sticky;
        top: 0;
        z-index: 999;
        min-height: 4.5rem;
    }
    nav .brand img {
        width: 40px;
    }
    .navbar-flex ul {
        position: fixed;
        top: 4.2rem;
        left: 0;
        right: 0;
        height: 100vh;
        z-index: 9999;
        padding: 1rem 0;
        display: none;
        margin: 0;
    }
    .navbar-flex ul.nav-active {
        height: 100%;
        opacity: 1;
        background-color: #fcfcfc;
        display: block;
    }
    .navbar-flex ul li a {
        padding: 1.4rem 1rem;
        margin-top: 0.68rem;
        display: block;
        text-decoration: none;
        color: #9B9B9B;
        font-size: 1.5rem;
    }
    .burger {
        display: block;
    }
    .main {
        margin-top: 1.44rem;
        height: 30rem;
    }
    .intro h2 {
        font-size: 2.60rem;
        line-height: 3.22rem;
    }
    .intro p {
        font-size: 0.95rem;
    }
    .intro a {
        font-weight: 500;
        font-size: 1rem;
        color: #ff7979;
    }
    .intro img {
        width: 4.3rem;
    }
    .container-2 {
        margin-bottom: 0.66rem;
        padding-bottom: 0.44rem;
    }
    .project-featured img {
        width: 100%;
    }
    .project-featured h2 {
        font-size: 1.64rem;
    }
    .project-featured p {
        width: 100%;
        font-size: 1.09rem;
    }
    .creative_work h2 {
        font-size: 2.5rem;
        margin-top: 4rem;
        margin-bottom: -3rem;
    }
    .contain6-sectionlast {
        height: 22rem;
        margin-top: 8rem;
    }
    .contact-section h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .mailmenow-ou a {
        font-size: 1.10rem;
    }
    .contact-section p {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .contact-section i {
        font-size: 1.13rem;
        margin-top: 1.2rem;
        border-radius: 3px;
    }
    footer p {
        font-size: 0.84rem;
        text-align: center;
        line-height: 1.26rem;
        padding-left: 1.33rem;
        padding-right: 1.33rem;
        padding-bottom: 1rem;
    }
}


/* responsive landscape mode */

@media (min-width: 577px) and (max-width: 767.98px) {
    body {
        background-size: 60%;
        background-position: 120% 4%;
    }
    nav .brand img {
        width: 40px;
    }
    .navbar-flex ul li a {
        font-size: 0.9rem;
    }
    .main {
        margin-top: -1rem;
        height: 22rem;
    }
    .intro h2 {
        font-size: 3.35rem;
        max-width: 25rem;
        line-height: 4rem;
    }
    .intro p {
        font-size: 1rem;
        width: 20rem;
    }
    .intro a {
        font-size: 1rem;
        color: #ff7979;
    }
    .container-2 {
        margin-top: 6rem;
    }
    .project-featured {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
    .project-featured img {
        width: 17rem;
    }
    .project-featured h4 {
        font-size: 0.95rem;
    }
    .project-featured h2 {
        font-size: 1.88rem;
    }
    .project-featured p {
        width: 15rem;
        font-size: 0.95rem;
        line-height: 1.12rem;
    }
    .creative_work h2 {
        font-size: 3.70rem;
        margin-top: 3rem;
    }
    .contain6-sectionlast {
        height: 20rem;
        margin-top: 8rem;
    }
    .contact-section h3 {
        font-size: 1.70rem;
    }
    .mailmenow-ou a {
        font-size: 1.40rem;
    }
    .contact-section p {
        font-size: 1.36rem;
        line-height: 1.90rem;
    }
    .contact-section i {
        font-size: 1.2rem;
    }
    footer p {
        font-size: 0.74rem;
        text-align: center;
    }
}


/* responsive tablet mode */

@media (min-width: 768px) and (max-width: 991.91px) {
    body {
        background-size: 63%;
        background-position: 130% 4%;
    }
    .main {
        height: 27rem;
    }
    .intro h2 {
        font-size: 3.6rem;
        max-width: 26rem;
        line-height: 4rem;
    }
    .intro p {
        font-size: 1.10rem;
        width: 24rem;
    }
    .intro a {
        font-size: 1.05rem;
        color: #ff7979;
    }
    .container-2 {
        margin-top: 4rem;
    }
    .project-featured {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .project-featured img {
        width: 19.4rem;
    }
    .project-featured h4 {
        font-size: 1rem;
    }
    .project-featured h2 {
        font-size: 2rem;
    }
    .project-featured p {
        width: 20rem;
        font-size: 1.10rem;
    }
    .creative_work h2 {
        font-size: 4rem;
    }
    .contain6-sectionlast {
        height: 23rem;
        margin-top: 8rem;
    }
    .contact-section h3 {
        font-size: 2rem;
    }
    .mailmenow-ou a {
        font-size: 1.70rem;
    }
    .contact-section p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .contact-section i {
        font-size: 1.5rem;
    }
    footer p {
        text-align: center;
    }
}


/* desktop mode */

@media (min-width: 992px) {
    .navbar {
        grid-template-columns: 1fr 85% 1fr;
    }
    .main {
        grid-template-columns: 1fr 85% 1fr;
        min-height: 100vh;
    }
    .container-2 {
        grid-template-columns: 1rem 1fr 1rem;
    }
    .container-3 {
        grid-template-columns: 1fr 85% 1fr;
    }
    .contain6-sectionlast {
        grid-template-columns: 1fr 85% 1fr;
    }
    /* .intro {
        padding-bottom: 1rem; 
       background-color: azure;
    } */
    .intro h2 {
        font-size: 6rem;
        max-width: 46rem;
    }
    .intro p {
        font-size: 1.50rem;
        width: 33rem;
    }
    /* .intro h1::before {
        content: ' ';
        position: absolute;
        width: 5.95em;
        height: .3em;
        background: #5E36FF;
        margin-top: 9.22rem;
        margin-left: -1rem;
        z-index: -1;
    } */
    .project-featured img {
        width: 29rem;
        /* filter: gray; */
        /* IE5+ */
        /* -webkit-filter: grayscale(1); */
        /* Webkit Nightlies & Chrome Canary */
        transition: all .3s ease-in-out;
    }
    .project-featured img:hover {
        filter: none;
        box-shadow: 0px 0px 14px #ececece1;
        transform: scale(1.01);
    }
}
